:global {
  #max-pro-layout {
    height: 100vh;
    overflow: auto;
  }
}

.layout-menu-card {
  display: flex;
  align-items: center;

  .layout-menu-card-title {
    font-weight: 500;
    cursor: pointer;
    display: flex;
    gap: 4px;
    padding-inline-start: 8px;
    padding-inline-end: 12px;
    align-items: center;
  }
}

.layout-menu-card-popover {
  display: flex;
  padding: 32px 40px;
}

.layout-header-search {
  display: flex;
  align-items: center;
}

.layout-header-search-input {
  border-radius: 4px;
  margin-inline-end: 12px;
}
